<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>List Customers</title>
</head>

<body>	
	<h1>CRM - Customer Relationship Manager</h1>
	
	<input type="button" value="Add customer" class="btn btn-lg btn-primary" onclick="window.location.href='add'; return false;"/>
				
	<table class="table table-dark">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempCustomer : ${customers}">
				<td th:text="${tempCustomer.firstName}"/>
				<td th:text="${tempCustomer.lastName}"/>
				<td th:text="${tempCustomer.email}"/>
				<td>
					<a type="button" class="btn btn-lg btn-success" th:href="@{/customer/update(customerId=${tempCustomer.id})}">Update</a>
					<a type="button" class="btn btn-lg btn-danger" th:href="@{/customer/delete(customerId=${tempCustomer.id})}" onclick="if(!(confirm('Are you sure to delete?'))) return false">Delete</a>
				</td>
			</tr>
		</tbody>										
	</table>
	
</body>

</html>